@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #222;
    padding: 25px 100px;
    font-weight: 600;
}

main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    margin-bottom: 50px;
    background-color: #3e8fa0;
    padding: 20px;
}

main .delete-icon {
    float: right;
    color: #134b57;
    cursor: pointer;
    transform: scale(2);
}

main .edit-icon {
    float: right;
    margin-right: 25px;
    color: #165664;
    cursor: pointer;
    transform: scale(2);
}
/* стиль при наведении на иконки */
main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}

form input:not([type="checkbox"]), 
form textarea, 
form button {
    width: 90%;
    padding: 15px 5%;  /*внутренние отступы от границы элемента до его внутреннего содержимого*/
    font-family: 'Montserrat', sans-serif; /*иногда для input-полей не устанавливается шрифт по умолчанию*/
    font-weight: 300; /*жирность*/
    margin-bottom: 10px; /*отступ элемента от других элементов или границы внешнего контейнера, отступ снизу*/
    border: 0;/*граница или рамка*/
    background: #222;  /*Фон элемента*/
    color: #fff; /* цвета текста*/
    outline: none; /*контур*/
    font-size: 15px;
}

 form input[type="checkbox"] {
    margin: 10px;

}

form button {
    width: 100px;
    cursor: pointer; /*курсор в форме руки*/
    transition: transform 500ms ease; /*переход*/
}

/*стили при наведении - hover*/
form button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 20px
}

.user form input,
.user form textarea,
.user form button {
    background: #134b57;
}

.user form button:hover {
    transform: scale(1.01);
}